*.vspscc
*.vssscc
*.scc
*.suo
*.user
/*.bat

/DockingPort-Next/*.sln

/_release/

/DockingFunctions/DockingFunctions/bin/
/DockingFunctions/DockingFunctions/obj/

/Resources/Unity-UI/Library/
/Resources/Unity-UI/Logs/
/Resources/Unity-UI/Temp/

/Resources/Unity-UI/Assets/TextMesh Pro/

/Resources/Unity-UI/Assets/Fonts/Test/
